$primary-color: #307672;

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 1rem;
}

header#Header {
  background-color: $primary-color;
  color: white;
  height: 158px;
  display: flex;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
