$primary-color: #307672;

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 1rem;
}

.content {
  margin-top: 2rem;
}

.message {
  margin-bottom: .5rem;
  display: block;
}

.no-todo-message {
  margin-top: 10rem;
  text-align: center;
}

i {
  font-size: 13px;
  color: #787878;
}

header#Header {
  background-color: $primary-color;
  color: white;
  height: 158px;
  display: flex;
  border-radius: 0 0 10px 10px;

  .header {
    margin-top: 18px;
    display: flex;
    flex-direction: column;

    h1 {
      margin: auto 0;
      font-size: 30px;
    }

    &__icon-nav {
      svg {
        cursor: pointer;
      }
    }
  }
}

#todos {
  .todo {
    margin-bottom: 1rem;
    transition: background-color .5s;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

    &__item {
      padding: 1rem;
      display: flex;
      align-items: center;
      position: relative;

      &__check {
        position: absolute;
        bottom: 50%;
        transform: translateY(8px);
      }

      &__content {
        margin-left: 1rem;

        p {
          padding-right: 17px;
        }
      }
    }

    &__trash {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: #ebebeb;
      transition: background-color .5s;
    }

    &--done {
      background-color: #ebebeb;

      p {
        text-decoration: line-through;
      }
    }
  }
}

.circle {
  height: 18px;
  width: 100%;
  max-width: 18px;
  border: 1px solid #c9c9c9;
  border-radius: 18px;
  background-color: white;
}

.button {
  padding: .75rem;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &--primary {
    background-color: $primary-color;
    color: white;
  }

  &--secondary {
    background-color: white;
    border: 1px solid $primary-color;
    color: $primary-color;
  }
}

.show-form-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  margin-bottom: 1rem;

  button {
    width: 100%;
  }
}

.add-todo {
  background-color: $primary-color;
  z-index: 100;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  border-radius: 5px 5px 0 0;

  h3 {
    color: white;
    margin-bottom: 1rem;
  }

  input {
    width: 100%;
    border-radius: 5px;
    padding: .75rem;
    border: 0;
  }

  &__button-group {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

    .button {
      width: 47%;

      &--primary {
        border: 1px solid white;
      }
    }
  }

  i {
    color: white;
  }
}

@keyframes show-backdrop {
  from {
    opacity: 0;
  }

  to {
    opacity: .56;
  }
}

.backdrop {
  background-color: #4b4b4b;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 50;
  animation: show-backdrop .5s forwards;
  cursor: pointer;
}

#sidebar {
  position: fixed;
  background-color: white;
  max-width: 300px;
  height: 100%;
  z-index: 1000;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;

  .close-sidebar-btn {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }

  .sidebar {
    &__title {
      font-size: 20px;
      color: $primary-color;
      margin-bottom: 1rem;
    }
  }

  .author {
    &__image {
      margin-bottom: 1rem;
    }

    &__biograph {
      line-height: 2rem;
    }
  }

  .contact {
    margin-top: auto;

    &__url {
      font-size: 14px;
      color: $primary-color;
    }
  }
}
